.calendar {
    width: 400px;
    border: 2px solid rgb(156, 170, 189);
    .day-names {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(156, 170, 189);
        padding: 5px 5px 5px 15px;
        margin-bottom: 10px;
        .previous,
        .next {
            transform: scale(1.7);
            padding: 5px 15px;
            margin-bottom: 4px;
            cursor: pointer;
        }
        .next {
            margin-right: 5px;
        }
        .current {
            position: relative;
            left: -8px;
        }
    }
    .day {
        position: relative;
        width: calc(100% / 7);
        height: 34px;
        display: inline-block;
        background-color: #fff;
        padding-top: 5px;
        margin: 0;
        box-sizing: border-box;
        z-index: 1;
        text-align: center;
        cursor: pointer;
   
        .selected {
            padding: 8px 5px;
            background-color: rgb(156, 170, 189);
        }
        .preview-selected {
            padding: 8px 5px;
            background-color: rgb(220, 227, 235);
        }
        .before {
            color: rgb(210, 215, 223);
        }
        .today {
            padding: 8px 5px;
            background-color: rgb(194, 204, 216);
        }
    }
}
