.calendar {
  width: 400px;
  border: 2px solid #9caabd;
}

.calendar .day-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.calendar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9caabd;
  padding: 5px 5px 5px 15px;
  margin-bottom: 10px;
}

.calendar .header .previous,
.calendar .header .next {
  -webkit-transform: scale(1.7);
      -ms-transform: scale(1.7);
          transform: scale(1.7);
  padding: 5px 15px;
  margin-bottom: 4px;
  cursor: pointer;
}

.calendar .header .next {
  margin-right: 5px;
}

.calendar .header .current {
  position: relative;
  left: -8px;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 34px;
  display: inline-block;
  background-color: #fff;
  padding-top: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.calendar .day .selected {
  padding: 8px 5px;
  background-color: #9caabd;
}

.calendar .day .preview-selected {
  padding: 8px 5px;
  background-color: #dce3eb;
}

.calendar .day .before {
  color: #d2d7df;
}

.calendar .day .today {
  padding: 8px 5px;
  background-color: #c2ccd8;
}
